@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Dosis:wght@200..800&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap'); 

@import "tailwindcss"; 

.glass-card{
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255 ,255 , 255 , 0.08);
    transition: all 0.4s cubic-bezier(0.4 , 0 , 0.2 , 1);
}
.glass-card:hover{
    
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(34 ,197 , 94 , 0.4);
    transform: translateY(-5px);
}
/* animation */
.animate-float{
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0% ,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}
@media (max-width: 960px) {
    .nav-hidden{
        display: none;
    } 
} 
@media (max-width: 959px) {
    .menu{
        display: block;
    }
}
@media (max-width:440px) {
    .get-started{
        display: none;
    }
}